<body id="profilepage">

<div class="leftSection">
  <div class="user"></div>
  <p><a href="#">Add Photo</a></p>
  <p><a href="#">Edit Photo</a></p>
  <p><a href="#">Upload Books</a></p>
</div>

<div class="rightSection">


<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
       		<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand"><i class="fa fa-book"></i>BookNook</a>
    	</div>	
    	<form class="navbar-form navbar-left">
        <div class="form-group">
          	<input type="text" class="form-control" placeholder="Search For Books!">
        </div>
        	<button type="submit" class="btn btn-success">Submit</button>
      	</form>
      	<div class="nav navbar-nav navbar-right">
      		<p class="navbar-text">Signed in as</p>
      		<ul class="nav navbar-nav navbar-right">
      			<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Elaine Gonzalez<span class="caret"></span></a>
          		<ul class="dropdown-menu">
            	<li><a href="#">Action</a></li>
            	<li><a href="#">Another action</a></li>
            	<li><a href="#">Something else here</a></li>
            	<li role="separator" class="divider"></li>
            	<li><a href="#">Separated link</a></li>
        		</li>
        		<p class="navbar-text">Not you? <a href="index.html">Logout</a></p>
        		</ul>

      		</ul>
      	</div>
        </div>

</nav>

  <div class="booksOwned">
    <h2><br/>Books you own :</h2>



    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="../../images/beachBook.jpg" alt="">
            <div class="overlay">
                <h2>Name of Book</h2>
        <p> 
          <a href="#">Remove Book</a>
        </p>
        <p>
          <a href="#">Edit Book</a>
        </p>
            </div>
    </div>
</div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="../../images/beachBook.jpg" alt="">
            <div class="overlay">
                <h2>Name of Book</h2>
        <p> 
          <a href="#">Remove Book</a>
        </p>
        <p>
          <a href="#">Edit Book</a>
        </p>
            </div>
    </div>
</div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="../../images/beachBook.jpg" alt="">
            <div class="overlay">
                <h2>Name of Book</h2>
        <p> 
          <a href="#">Remove Book</a>
        </p>
        <p>
          <a href="#">Edit Book</a>
        </p>
            </div>
    </div>
</div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="../../images/beachBook.jpg" alt="">
            <div class="overlay">
                <h2>Name of Book</h2>
        <p> 
          <a href="#">Remove Book</a>
        </p>
        <p>
          <a href="#">Edit Book</a>
        </p>
            </div>
    </div>
</div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="../../images/beachBook.jpg" alt="">
            <div class="overlay">
                <h2>Name of Book</h2>
        <p> 
          <a href="#">Remove Book</a>
        </p>
        <p>
          <a href="#">Edit Book</a>
        </p>
            </div>
    </div>
</div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="../../images/beachBook.jpg" alt="">
            <div class="overlay">
                <h2>Name of Book</h2>
        <p> 
          <a href="#">Remove Book</a>
        </p>
        <p>
          <a href="#">Edit Book</a>
        </p>
            </div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="../../images/beachBook.jpg" alt="">
            <div class="overlay">
                <h2>Name of Book</h2>
        <p> 
          <a href="#">Remove Book</a>
        </p>
        <p>
          <a href="#">Edit Book</a>
        </p>
            </div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="../../images/beachBook.jpg" alt="">
            <div class="overlay">
                <h2>Name of Book</h2>
        <p> 
          <a href="#">Remove Book</a>
        </p>
        <p>
          <a href="#">Edit Book</a>
        </p>
            </div>
    </div>
</div>

<p><a href="#">Upload Your Books!</a></p>
<hr>
<h2>Books you may like :</h2>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="../../images/beachBook.jpg" alt="">
            <div class="overlay">
                <h2>Name of Book</h2>
        <p> 
          <a href="#">Remove Book</a>
        </p>
        <p>
          <a href="#">Edit Book</a>
        </p>
            </div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="../../images/beachBook.jpg" alt="">
            <div class="overlay">
                <h2>Name of Book</h2>
        <p> 
          <a href="#">Remove Book</a>
        </p>
        <p>
          <a href="#">Edit Book</a>
        </p>
            </div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="../../images/beachBook.jpg" alt="">
            <div class="overlay">
                <h2>Name of Book</h2>
        <p> 
          <a href="#">Remove Book</a>
        </p>
        <p>
          <a href="#">Edit Book</a>
        </p>
            </div>
    </div>
</div>
</div>
</body>